[2015-06-10 18:17] giladkhen opened #3 "expose all data dirs (cassandra, mysql etc..) in dockerfiles"

[2015-06-10 18:19] giladkhen opened #4 "extract database servers to separate containers"
need in order to support large scale deployment

[2015-06-10 18:22] giladkhen opened #5 "support automated DNS with skydns"
allows containers to discover each other over DNS. you can set homestead to be homestead.cluster.local and have this resolved at runtime with skydns

[2015-06-10 18:23] giladkhen opened #6 "create trusted build at docker registry"
docker pull metaswitch/homestead
etc..

[2015-06-10 19:29] giladkhen opened #7 "expose all log dirs as volumes, allow single current hotfile to tail with fixed name {service}_current.log"

[2015-06-10 19:37] giladkhen opened #8 "allow log to stdio"
logging to stdio is a simpler way to expose logs in container deployments. we can then just grab the docker log and use tools like journalctl  https://coreos.com/docs/cluster-management/debugging/reading-the-system-log/

[2015-06-11 11:31] mirw commented on #3
@giladkhen, thanks for raising these issues - they're good suggestions!

[2015-06-16 16:11] mike-evans opened #10 "Ellis starts with wrong configuration"
Ellis can start with the wrong IP address configuration for Homestead and Homer.  Restarting Ellis fixes the problem.

It looks like the root cause is that supervisord does not guarantee that the clearwater-auto-config-docker and clearwater-infrastructure services are started prior to starting Ellis.  Since clearwater-auto-config-docker generates the configuration file, Ellis may start with the wr

[2015-06-16 17:17] mirw commented on #10
I wonder if we can mark all processes as `autostart=false` and then run `supervisorctl start all` as the last command of the clearwater-infrastructure command line.

I'll try prototyping this tomorrow.

[2015-06-17 15:13] mirw commented on #10
@mike-evans, I've fixed this under #11.  Please can you retest?

[2015-06-23 10:33] darko182 opened #12 "Error in script clearwater-auto-config-docker"
If environmental variable ZONE is not set, "home_domain" variable should be "example.com".
The error is in setting the variable "home_domain" at row 82 of the script "clearwater-auto-config-docker": there is a blank at both sides of "=" sign.
This ends up in having "home_domain" unset.

[2015-06-23 10:44] mirw commented on #12
Thanks for raising this.  @mike-evans spotted this this morning too and fixed under https://github.com/Metaswitch/clearwater-infrastructure/pull/202.  Please can you confirm that the problem is now resolved?

[2015-08-06 12:09] eleanor-merry commented on #12
I've confirmed that this was fixed

[2015-08-06 12:09] #12 closed, assigned to nobody

[2015-09-30 11:48] graemerobertson opened #17 "Ellis stops replying to requests"
I spin up a Clearwater Docker deployment and run our live test suite against (see the live-test-docker CI job). The live tests fail reliably. Specifically, about midway through the run, an Ellis request times out. The remaining tests continue to run as normal once the request times out.

I've no idea what's going on here really. There's nothing obvious in the nginx logs or ellis logs. There had be

[2015-10-01 14:18] graemerobertson commented on #17
Update on this. We've just spun up a clearwater-docker deployment and run the live tests successfully 13 times in a row (having previously been failing most times). Now we've just failed again, this time with every single Ellis request seemingly timing out.

No idea.

[2015-10-08 11:00] graemerobertson commented on #17
I'm seeing this very infrequently again now.

Still no idea.

[2015-10-12 20:51] #10 closed, assigned to mike-evans

[2016-05-26 10:58] mirw opened #24 "clearwater-cluster-manager doesn't restart Cassandra under Docker"
#### Symptoms

Spin up a deployment under Docker using an etcd-using version (i.e. commit later than https://github.com/Metaswitch/clearwater-docker/commit/ae892d71cb2c1e377d74fec4bf25e32eac1541db).

Cassandra doesn't start, so the deployment is not functional.

Killing Cassandra (using `pkill -f cassandra`) and then restarting clearwater-infrastructure (using `/etc/init.d/clearwater-infrastructur

[2016-05-26 11:02] mirw commented on #24
I think the issue here is that `/usr/share/clearwater/clearwater-cluster-manager/plugins/cassandra_plugin.py` tries to use `start-stop-daemon` with a PID to stop Cassandra, but this doesn't work under Docker (as we don't save off the PID).

[2016-05-26 11:25] mirw commented on #24
Actually, the work-around above (of killing cassandra and restarting clearwater-infrastructure) doesn't seem 100% reliable - it worked on Homstead, but not on Homer.

[2016-05-26 11:49] mirw commented on #24
It seems sometimes necessary to kill Cassandra multiple times for the work-around to work - I'm not sure why this is.

I've also noticed that stopping the deployment doesn't seem to work cleanly.

[2016-05-26 12:28] rkday-pro commented on #24
Why is live-test-docker working reliably if we have this bug?

[2016-05-26 12:41] mirw commented on #24
Not sure, but it's not just me that's hit this - it's also been hit on the mailing list (http://lists.projectclearwater.org/pipermail/clearwater_lists.projectclearwater.org/2016-May/002954.html).

Agree that we should investigate how live-test-docker differs from our documented install process as part of resolving this.  (I notice that it does pass different parameters to docker, although can't im

[2016-06-06 17:00] rkday-pro commented on #24
I've successfully turned up a Docker system and made a call through it. I've used the latest versions of Docker and Compose to rule out the possibility that there's some recent regression. In other words, I can't repro this.

It also looks like the mailing list user has now got Docker working (http://lists.projectclearwater.org/pipermail/clearwater_lists.projectclearwater.org/2016-May/002963.html)

[2016-06-06 17:01] rkday-pro commented on #24
@mirw , is it possible you stopped and then started your Docker containers?

[2016-06-06 17:28] mirw commented on #24
I don't think so, and I've just reproduced it.  I'll send you the details of the box on which I was testing.

[2016-06-06 20:25] rkday-pro commented on #24
Hmm, interesting. On your machine, ps shows this:

[code]

So:
- /usr/sbin/cassandra started at 17:25:17
- it spawned a Java process, which is now defunct

Looking at the cluster manager log, 17:25:17 is too early for Cassandra - cluster-manager only started at that time, and didn't put a cassandra.yaml file into place until 17:25:54. But I'd expect  /usr/sbin/cassandra to fail and restart until c

[2016-06-06 20:34] rkday-pro commented on #24
Tomorrow I might try and repro this on a 3.13.0-74-generic system then upgrade it to 3.13.0-83-generic and see if that fixes it.

[2016-06-07 08:10] rkday-pro commented on #24
Setting up from scratch with the Ubuntu Trusty AMI, ami-fce3c696, which uses 3.13.0-74-generic by default, shows the same symptoms:

[code]

Now to try with a higher kernel version.

[2016-06-07 08:50] rkday-pro commented on #24
OK, I have:
- started a `3.13.0-74-generic` VM, set up clearwater-docker, and confirmed that repros the problem
- upgraded that machine to `3.13.0-87-generic` (installing Docker installs the latest kernel, so I just rebooted), rebuilt the Docker images, and confirmed that the problem doesn't repro (I don't get a defunct Java process, I get a running Java/Cassandra process)
- uninstalled that kerne

[2016-06-07 13:13] rkday-pro commented on #24
https://github.com/Metaswitch/clearwater-docker/pull/25 adds clear advice not to use that kernel.

[2016-06-07 13:13] #24 closed, assigned to rkd-msw

[2016-08-30 13:02] heekof opened #27 "Could not add PSTN number"
I am working on a VM ubuntu :
Linux clearwater2 3.13.0-87-generic #133-Ubuntu SMP Tue May 24 18:32:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
I have followed the installation with docker compose. Everything seems OK. But when I want to add a new PSTN number, I have this error:
Failed to update the server (see detailed diagnostics in developer console). Please refresh the page.

In ellis the log :

[2016-08-30 17:02] richardwhiuk commented on #27
By default the Docker deployment doesn't create any PSTN numbers. This is controlled by https://github.com/Metaswitch/clearwater-docker/blob/master/ellis/Dockerfile

If you want to create some PSTN numbers, you can use the create_numbers.py script to which you'll need to pass --pstn or -p to.

The difference between PSTN and internal numbers is described at https://github.com/Metaswitch/ellis/blob

[2016-09-21 09:04] AvinashReddyT opened #28 "502 Bad Gateway nginx/1.4.6 (Ubuntu)"
I am, working on Clearwater Docker images. When ever I try to make some changes to my containers (like adding application server in the json file) my Clearwater use to stop working(I can generate numbers on ellis but I could not register them on Clearwater using zoipher).

So, by using "commit"(sudo docker commit <CONTAINER ID>  <NEW IMAGE NAME>) command I saved the status of my containers. Then I

[2016-09-22 15:53] graemerobertson commented on #28
I think what you're saying is that every time you make a change to a Clearwater docker container and run `docker commit`, Ellis stops working. Is that right? I'm wondering whether our [Docker configuration script](https://github.com/Metaswitch/clearwater-infrastructure/blob/master/debian/clearwater-auto-config-docker.init.d) that gets run when a container starts up is not idempotent, so if you sta

[2016-09-24 04:29] mjbright commented on #4
I'd hoped to use ClearWater vIMS for an Orchestration Lab I'll be running at ContainerCon Europe, but it looks like this isn't scalable at all today.

[2016-09-24 04:29] mjbright commented on #3
Would be good also to allow scaling the application

[2016-09-26 03:50] AvinashReddyT commented on #28
@graemerobertson Thanks for the reply.
Yes, Ellis stops working when ever I make some changes to Clearwater docker containers and run commit. And even the Docker configuration script seams to be same(ie, no changes in script) as earlier one.
No, I am not able to achieve my goal by editing the Dockerfile.
Yes, I can add new copy command to ellis Dockerfile. But its of no use.

I am still trying to

[2016-09-26 15:04] MatMeredith commented on #4
@mjbright We're looking at making some enhancements to clearwater-docker over the next couple of weeks -- if you can provide any more detail on exactly what you'd like to see that would be great input here.   Out of interest, are you still planning to use Clearwater at ContainerCon?

[2016-09-26 17:08] graemerobertson commented on #28
It sounds like the Ellis process isn't running for some reason. Can you run `ps -eaf | grep ellis` on the Ellis container and see if it is running? It's probably also worth looking for the latest logs in `/var/log/ellis/` to help us determine why Ellis isn't working properly.

By the way, why does adding a new `COPY` command to your Ellis Dockerfile not help you solve this issue?

[2016-09-26 18:07] mjbright commented on #4
Thanks for the response.

In fact I'm in the final throes of preparation for a container
orchestration lab next week, but I thought of this too late - I wouldn't be
ready to do a scaled version of Clearwater for then.

However, if I manage it I'll use clearwater-docker in it's current form.
I'll keep you informed if I do use it as I would like to go farther in a
future lab.

In this lab the focus

[2016-09-27 09:13] MatMeredith commented on #4
If all you want to do is to drive small numbers of SIP messages through Clearwater / set-up a simple call from the command line then could you just run e.g. the "Basic Call - Mainline" test from https://github.com/Metaswitch/clearwater-live-test?   This may well be the easiest option?

[2016-09-27 11:04] mjbright commented on #4
Thanks a lot Mat, I'll have a look at that (I see it uses sipp also which
is good for me - useful to have a "validated procedure" for that).
That'll help a lot.

On 27 September 2016 at 11:13, Mat Meredith notifications@github.com
wrote:

[2016-09-27 18:15] AvinashReddyT commented on #28
@graemerobertson Thank you for the reply.

My Ellis is working, i checked it by running ps -eaf | grep ellis. But i am unable to access it from browser(My request is going from my browser to server, But i am not getting back response from server).
I even attached a document in which i have shared my logs of ellis and even error logs of nginx. Can you go through the document once.

I was able to ad

[2016-09-28 13:27] AvinashReddyT commented on #28
I am new to this environment and trying to get adopt to it.

I want to know the steps for saving the status of the container and how to reuse it when ever i need.
For Example: If i want to create some 20 numbers on ellis and how to reuse these numbers in future. Right now I am facing some issues like --- I was creating some numbers on ellis and stopping all the containers. And when i restart the c

[2016-09-30 18:27] eleanor-merry commented on #28
Hi @AvinashReddyT. Just to let you know, we're investigating this issue now, and trying to reproduce it on our systems.

[2016-10-02 09:11] AvinashReddyT commented on #28
Thanks for the reply @eleanor-merry

Hi all,
We need to stop all Clearwater processes running on all the Clearwater docker containers.
To do that, we are using /usr/bin/supervisorctl script.
Following is the command and its output that we used on homestead container to stop all processes on that container.

## But as you can see, after stopping processes when we are starting those processes again

[2016-10-11 13:22] MatMeredith commented on #4
This is now fixed in #29.  There are associated changes required to a number of other Clearwater repos -- these will be in release-108 (or if you want to start using this now, just update your Base Dockerfile to point to the latest repo rather than stable).

As well as separating out the data stores, we've also ensured that it is possible to scale up the data store clusters.   See the updated [rea

[2016-10-11 13:22] #4 closed, assigned to nobody

[2016-10-12 02:34] apachemycat opened #31 "build cansandra docker image error"
when I build canandra docker image ,some error ocurred and can't pass ,following is err log

Reading package lists...
W: Size of file /var/lib/apt/lists/archive.ubuntu.com_ubuntu_dists_trusty-security_main_binary-amd64_Packages.gz is not what the server reported 667375 667385
W: Size of file /var/lib/apt/lists/archive.ubuntu.com_ubuntu_dists_trusty-security_universe_binary-amd64_Packages.gz is not

[2016-10-12 02:43] apachemycat opened #32 "build bono docker images error"
When I build bono images, there are some errors ,mainly the tcp kenel params change cmd cause ,which in file
/usr/share/clearwater/infrastructure/install/clearwater-tcp-scalability.postinst

docker can't allowed this tcp kenel params be set in docker container
is there any method to  Comment out clearwater-tcp-scalability.postinst file content  so  success file build ?
the following is error messa

[2016-10-12 03:09] apachemycat opened #33 "build ralf image error"
Ralf image has a common problem like bono ,which is tcp kernel params set error  in script  clearwater-tcp-scalability.postinst

and some more errors occured ,not sure if released with above
 Package astaire is not configured yet.
E: Sub-process /usr/bin/dpkg returned an error code (1)

the following is error message
/usr/share/clearwater/infrastructure/install/clearwater-tcp-scalability.postinst:

[2016-10-12 03:24] apachemycat opened #34 "build homestead docker image error"
when build homestead docker image error there are some errors
first problem is dnsmasq  ,it seems dnsmasq  should removed ? because docker or kubernetes's  dns name service ??
- Restarting clearwater-infrastructure clearwater-infrastructure
  mv: cannot move ?.tmp/hosts.3592?.to ?.etc/hosts?. Device or resource busy
- Restarting DNS forwarder and DHCP server dnsmasq

dnsmasq: setting capabilities

[2016-10-12 03:29] apachemycat opened #35 "build sprout docker image error"
when I build sprout docker image ,there are more errors  and I found it try install memcache ,but memcache also a new clearwater image ??

the following is error msgs
Setting up clearwater-tcp-scalability (1.0-160927.094809) ...
/usr/share/clearwater/infrastructure/install/clearwater-tcp-scalability.postinst: 40: /usr/share/clearwater/infrastructure/install/clearwater-tcp-scalability.postinst: sys

[2016-10-12 08:55] MatMeredith commented on #35
@apachemycat  We expect sysctl to fail inside Docker containers and so in our base Docker image we replace sysctl with a version that does nothing (see [base/sysctl](https://github.com/Metaswitch/clearwater-docker/blob/master/base/sysctl)).   The error you are seeing suggests to me that either this version of sysctl hasn't been correctly applied by [base/Dockerfile](https://github.com/Metaswitch/c

[2016-10-12 09:03] MatMeredith commented on #31
@apachemycat Apologies for this.   This error is because the version of clearwater-docker you are trying to build depends on the latest set of Clearwater binaries, but by default tries to install from http://repo.cw-ngv.com/stable.   This will be fixed when we cut release 108 (should be later today), or alternatively you can update base/Dockerfile to reference http://repo.cw-ngv.com/latest instead

[2016-10-12 09:08] MatMeredith commented on #34
@apachemycat Most of the errors here (including e.g. dnsmasq) are harmless and can be ignored.   The actual failure is caused by sysctl -- see #35...

[2016-10-12 09:08] MatMeredith commented on #33
@apachemycat Looks like the same issue as #35.

[2016-10-12 09:09] MatMeredith commented on #32
@apachemycat.   Looks like the same issue as #35.

[2016-10-12 09:45] apachemycat commented on #35
Thanks
I running  docker in Linux Centos 7 (64) VM  in VMware Player ,firstly kernel is 3.10 and lately updated to 4  (4.8.1-1.el7.elrepo.x86_64)
**[root@bogon ~]# docker version**
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:20:08 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go v

[2016-10-12 12:10] MatMeredith commented on #35
@apachemycat Thanks for this, but it doesn't give me any more clues I'm afraid...   Could you try starting up a container using the clearwater/base image that you've successfully built and finding out what version of sysctl it contains please?   If you could provide the output of the following that would be great.

[code]

(Last command needs to be run from the root of your clearwater-docker repo)

[2016-10-13 03:44] apachemycat commented on #35
May be there's file execute permession wrong ? because I unziped git files in windows and copy them to VM

**root@2a8862c5cefd:/# sysctl
bash: /sbin/sysctl: Permission denied**
root@2a8862c5cefd:/# whitch sysctl
root@2a8862c5cefd:/# which sysctl
root@2a8862c5cefd:/#  ls -al /sbin/sysctl
-rw-r--r-- 27 root root 38 Oct 11 19:16 /sbin/sysctl
**root@2a8862c5cefd:/# chmod +x /sbin/sysctl**
root@2a8862c

[2016-10-13 06:00] #34 closed, assigned to MatMeredith

[2016-10-13 06:00] #32 closed, assigned to MatMeredith

[2016-10-13 06:01] #33 closed, assigned to MatMeredith

[2016-10-13 06:04] apachemycat commented on #35
**Thanks for help** , I found  it's  the problem of unzip in windows cause file permission flags missing ,so build failed . now all images successful

**but homestead has one problem ,following is the errmsg**
   ...done.
/var/lib/dpkg/info/homestead-prov.postinst: 69: /var/lib/dpkg/info/homestead-prov.postinst: /usr/share/clearwater/cassandra-schemas/homestead_provisioning.sh: not found

[2016-10-13 06:29] apachemycat commented on #35
and I'm confused with your new docker run command ,--net-alias used for what purpose ?  in kubernetes the is no such ways ,how can i start it ?

@MatMeredith
**But the name is bad in kubernetes ........**
Error from server: error when creating "k8s-clearwater.yaml": Service "icscf.sprout" is invalid: metadata.name: Invalid value: "icscf.sprout": must match the regex [a-z]([-a-z0-9]*[a-z0-9])? (e.g

[2016-10-13 07:02] MatMeredith commented on #35
@apachemycat.   Great to hear that you've made progress on this.
- You can just ignore the homestead build error -- it's harmless.
- The network-alias parameter when starting Sprout causes Docker to create DNS entries for the container so that it is reachable via icscf.sprout and scscf.sprout.   Bono (the P-CSCF) will route requests for the I-CSCF to icscf.sprout and the I-CSCF will route requests

[2016-10-13 08:07] plwhite commented on #35
Worth saying that we have run clearwater in Kubernetes, but haven't really done anything with it in that environment. We'll be doing more in the next few weeks, I expect, at which point I'll have Kubernetes YAML files to share. I don't want to share them now, because while I have tested it all starts, I haven't tested that it can actually send load.

[2016-10-13 08:59] apachemycat commented on #35
@MatMeredith ,Thanks for your help ,I will continue try to running clearwater  on Kubernetes .

[2016-10-13 09:00] #31 closed, assigned to MatMeredith

[2016-10-13 09:18] apachemycat commented on #35
@MatMeredith ，I saw .env used in bono container , if it means I can set PUBLIC_IP in runtime and not need to build into docker image ?
sudo docker run -d --net=clearwater_nw --name bono --env-file .env

[2016-10-13 09:37] apachemycat opened #36 "clearwater image runining problems"
**ellis nginx can't be started by supervisord**
I find clearwater-infrastructure.conf (/etc/supervisor/conf.d/clearwater-infrastructure.conf ) has some problems, **clearwater-group can't be started because  supervisorctl can't connect supervisord**
[program:clearwater-infrastructure]
command=bash -c '/etc/init.d/clearwater-auto-config-docker start && /etc/init.d/clearwater-infrastructure start &&

[2016-10-13 10:07] MatMeredith commented on #35
@apachemycat Yes, that's correct.

[2016-10-17 10:55] leader-us opened #38 "icscf.sprout and scscf.sprout host name maybe changed to icscf_sprout and scscf_sprout"
icscf.sprout and scscf.sprout host name maybe changed to icscf_sprout and scscf_sprout
or use sprout name  ,because kuberntes can't create service which has '.' char in service name,
but I don't now where is config file in all related clearwater components.

[2016-10-17 12:02] richardwhiuk commented on #38
We're looking into sharing suitable instructions for deploying clearwater-docker on Kubernetes shortly - we are aware of the issue with the alias not being compatible with Kubernetes.

We'd recommend the following suggestion, shared in https://github.com/Metaswitch/clearwater-docker/issues/35#issuecomment-253430862

[2016-10-18 06:27] leader-us commented on #36
homestead docker conainter running error ,sames can't connect cassandra

17-10-2016 22:39:43.367 UTC Error dnscachedresolver.cpp:607: Failed to retrieve record for cassandra: Could not contact DNS servers
17-10-2016 22:40:51.998 UTC Status cassandra_store.cpp:181: Configuring store connection
17-10-2016 22:40:51.998 UTC Status cassandra_store.cpp:182:   Hostname:  cassandra
17-10-2016 22:40:51.998

[2016-10-18 06:31] leader-us opened #40 "homestead docker conainter running error ,sames can't connect cassandra"
homestead docker conainter running error ,sames can't connect cassandra

17-10-2016 22:39:43.367 UTC Error dnscachedresolver.cpp:607: Failed to retrieve record for cassandra: Could not contact DNS servers
17-10-2016 22:40:51.998 UTC Status cassandra_store.cpp:181: Configuring store connection
17-10-2016 22:40:51.998 UTC Status cassandra_store.cpp:182: Hostname: cassandra
17-10-2016 22:40:51.998 UT

[2016-10-18 06:32] leader-us commented on #40
root@clearwater-homestead:/# supervisorctl status
clearwater-group:homestead       BACKOFF    Exited too quickly (process log may have details)
clearwater-group:homestead-prov  RUNNING    pid 238, uptime 0:48:30
clearwater-group:nginx           RUNNING    pid 239, uptime 0:48:30
clearwater-infrastructure        EXITED     Oct 17 10:01 PM
sshd                             RUNNING    pid 8, uptime 0:

[2016-10-18 06:34] leader-us commented on #40
root@clearwater-homestead:/# more /var/log/supervisor/clearwater-infrastructure-stdout---supervisor-qPBDSU.log
- Restarting DNS forwarder and DHCP server dnsmasq
  ...fail!
  Configuring monit for only localhost access
  Joining cluster as proxy...
  homestead: ERROR (abnormal termination)
  homestead-prov: started
  nginx: started

[2016-10-20 07:50] leader-us opened #41 "homer log has some error message"
head -100 /var/log/supervisor/homer-stderr---supervisor-FkDgZO.log
:0: UserWarning: You do not have a working installation of the service_identity module: 'No module named service_identity'.  Please install it from https://pypi.python.org/pypi/service_identity and make sure all of its dependencies are satisfied.  Without the service_identity module and a recent enough pyOpenSSL to support it, Twis

[2016-10-20 08:05] leader-us opened #42 "ralf log has some warning"
19-10-2016 06:11:17.215 UTC Status httpstack.cpp:164: Binding HTTP TCP socket: address=172.17.1.12, port=10888
19-10-2016 06:11:18.433 UTC Status diameterresolver.cpp:62: Created Diameter resolver
19-10-2016 06:11:18.695 UTC Error dnscachedresolver.cpp:607: Failed to retrieve record for example.com: DNS server returned answer with no data
19-10-2016 06:11:18.958 UTC Error dnscachedresolver.cpp:607

[2016-10-20 08:56] leader-us commented on #38
icscf.sprout used in which component , I can't find it ..

[2016-10-20 09:07] richardwhiuk commented on #42
It looks like you don't have a Diameter peer configured to perform Rf billing? Are you expecting to use Rf billing? If you are, then you need to configure DNS records so that Ralf can contact your CDF. If you aren't, then you don't need Ralf. To configure a CDF, either configure billing_realm or cdf_identity.

[2016-10-20 09:13] richardwhiuk commented on #41
Looks like we should be installing the service_identity module as part of Homer to prevent the first warning. I think we should also be handling the connection refused log inside Homer.

Note, that in a none Docker deployment, this gets sprayed to syslog, so it's not a problem explicitly with Docker.

[code]

[2016-10-20 09:16] richardwhiuk commented on #38
It's used by Sprout, both internally and externally. There's some work being done to support Kubernetes further on the kubernetes branch - https://github.com/Metaswitch/clearwater-docker/tree/kubernetes

[2016-10-20 10:30] leader-us opened #43 "bono can't connect agentx master agent"
19-10-2016 08:34:17.563 UTC Status alarm.cpp:62: sprout issued 1005.4 alarm
19-10-2016 08:34:20.056 UTC Warning (Net-SNMP): Warning: Failed to connect to the agentx master agent ([NIL]):
19-10-2016 08:34:35.072 UTC Warning (Net-SNMP): Warning: Failed to connect to the agentx master agent ([NIL]):
19-10-2016 08:34:47.564 UTC Status alarm.cpp:62: sprout issued 1005.4 alarm
19-10-2016 08:34:50.081 UT

[2016-10-21 07:57] leader-us opened #44 "bono not connect chronos"
bono log show it connect 127.0.0.1 for chronos ,not remote chronos address

21-10-2016 06:57:59.940 UTC Status bono.cpp:3322: Create list of PBXes
21-10-2016 06:57:59.940 UTC Status main.cpp:1910: Creating connection to Chronos 127.0.0.1:7253 using 127.0.0.1:9888 as the callback URI
21-10-2016 06:57:59.941 UTC Status http_connection_pool.cpp:50: Connection pool will use a response timeout of 500ms

[2016-10-21 07:58] leader-us opened #45 "clearwater dns lookup can't access kuberntes skydns ,if we can disable it"
learwater dns lookup can't access kuberntes skydns, if we can disable it

[2016-10-21 11:30] mirw commented on #35
@MatMeredith, what's the next action here?  Is there an issue to fix, or should this be being closed down?

[2016-10-25 05:51] leader-us opened #46 "Viop client cant register or send a call"
192.168.147.130 is my docker host (public ip)
I can't find any log to resolve this prolem .
response VIOP msg  SIP/2.0 483 Too Many Hops

following is my sip trace logs

2016-10-25 13:47:04.443760 [blink.exe 6024]: SENDING: Packet 38, +0:04:58.165024
192.168.147.1:52584 -(SIP over TCP)-> 192.168.147.130:5060
REGISTER sip:example.com SIP/2.0

Via: SIP/2.0/TCP 192.168.147.1:52584;rport;branch=z9hG4b

[2016-10-25 06:06] leader-us commented on #46
some other logs  from ralf

24-10-2016 16:00:15.330 UTC Error diameterstack.cpp:293: Routing error: 'No remaining suitable candidate to route the message to' for message with Command-Code 271, Destination-Host  and Destination-Realm example.com
24-10-2016 16:00:15.330 UTC Warning peer_message_sender.cpp:125: Failed to send ACR to  (number 0)
24-10-2016 16:00:15.330 UTC Error peer_message_sender.cp

[2016-10-26 08:17] leader-us commented on #46
sprout resend registry SIP Message to self caused problem

24-10-2016 20:36:38.303 UTC Verbose sproutletproxy.cpp:1587: noop-0x7f4cf0019390 pass initial request Request msg REGISTER/cseq=1 (tdta0x7f4cf00375d0) to Sproutlet
24-10-2016 20:36:38.303 UTC Debug sproutletproxy.cpp:1350: Sproutlet send_request 0x7f4cf0037be0
24-10-2016 20:36:38.303 UTC Verbose sproutletproxy.cpp:1386: noop-0x7f4cf0019390

[2016-10-26 09:00] MatMeredith commented on #35
I think this issue can be closed down, but @apachemycat please let me know if you think there is still a problem here and I'll reopen.

[2016-10-26 09:00] #35 closed, assigned to MatMeredith

[2016-10-26 09:48] leader-us opened #47 "sprout args error"
if I set IP addr to param  chronos-hostname ,sprout  can't startup
--chronos-hostname=169.169.30.160

[2016-11-09 12:21] plwhite opened #48 "Homestead tries to contact cassandra on localhost"
#### Symptoms

Symptom is that homestead terminates, ellis does not work, and the deployment is DOA. This is on a multi-host deployment, so localhost does not resolve to the cassandra node (although cassandra does).

I'm actually using Kubernetes, but believe that the same issue would occur on multi-host with a pure Docker solution.

#### Impact

Clearwater does not work.

#### Release and environ

[2016-11-09 12:22] plwhite commented on #48
@richardwhiuk This is the blocking issue I just mentioned to you. I'm about to rebuild all images and update just in case (as you thought was possible) there's an issue that has been fixed recently.

[2016-11-09 12:31] richardwhiuk commented on #48
So homestead will only attempt to contact cassandra on localhost, if --cassandra is not passed, which only occurs if cassandra_hostname is not configured in config.

I think this was resolved for Docker by https://github.com/Metaswitch/clearwater-infrastructure/commit/6f6360ce2528e05b087a70ab5570db764fd4c214 - so I think you should just need the latest version of clearwater-auto-config-docker

[2016-11-09 13:20] plwhite commented on #48
@richardwhiuk I am not supplying a config file, so does that mean to fix this I have to change the image? If so, what file do I have to change?

[2016-11-09 13:35] plwhite opened #49 "Homestead neither terminates nor recovers on error"
#### Symptoms

Homestead failed. It turns out that this was because of #48. Homestead reported that it was terminating but failed to do so, and continued listening on its port. Homer appeared to be in a similar state

Logs are below.

        09-11-2016 11:20:23.576 UTC Status cassandra_store.cpp:181: Configuring store connection
        09-11-2016 11:20:23.576 UTC Status cassandra_store.cpp:182:

[2016-11-09 13:37] plwhite opened #50 "Initial secret is hardcoded"
When clearwater is started, ellis has a default secret of "secret". There is no way to change that value (and it is clearly insecure). There should be a documented way to change it.

[2016-11-09 13:38] richardwhiuk commented on #48
The node should automatically configure itself with the correct config. What release are you running? You say you are running of the clearwater branch - what package repository are you using? Stable? When did you build the images?

You should check what cassandra is configured to by inspecting `/etc/clearwater/shared_config` on homestead.

[2016-11-09 13:39] plwhite opened #51 "When ellis fails, it reports javascript errors"
#### Symptoms

This was triggered as a side effect of #48. The deployment had got into a broken state where ellis could contact neither homer nor homestead.

Operations on ellis returned javascript errors.

#### Impact

While the deployment was broken anyway, a fundamental issue was being hidden as a browser incompatibility issue. Correct behaviour would have been to return an error page to the su

[2016-11-09 13:56] mirw commented on #51
@plwhite, please can you raise this against Ellis (https://github.com/Metaswitch/ellis/issues), and please can you specify what Javascript errors you see, so that we can debug this?

[2016-11-09 16:55] plwhite commented on #48
Ouch. My fault - there was some invalid configuration which meant I was picking up an old version of the base image. I'll retest to ensure that fixes things, but the config file is definitely now correct.

Sorry for the confusion

[2016-11-09 16:55] #48 closed, assigned to richardwhiuk

[2016-11-09 21:26] richardwhiuk commented on #50
Do you mean the signup key? Is there any reason you can't follow the process in http://clearwater.readthedocs.io/en/stable/Clearwater_Configuration_Options_Reference.html to change the signup key?

[2016-11-09 21:49] richardwhiuk commented on #49
Homestead is run under supervisord. When Homestead emits the above log, we immediately exit with a process exit code of 2, so I doubt the process was stuck.

Homestead is configured with config to restart (up to 5000 times!) if the process fails within a second, and to restart indefinitely if the process dies after a second.

Homestead doesn't open ports (HTTP Signalling, HTTP Management or the Di

[2016-11-09 21:53] richardwhiuk commented on #44
This is because there's no configured hostname for your Chronos nodes.

What version of Clearwater are you using? The work under https://github.com/Metaswitch/clearwater-infrastructure/pull/375 should resolve this, so you might need to build with the latest images.

[2016-11-09 21:55] richardwhiuk commented on #43
This is because there's no configured SNMP IP address, so there's nowhere for Sprout to send the fact that there are no ongoing alarms to. If you have an SNMP receiver, you can configure a `snmp_ip` in shared configuration to prevent this warning, and send alarms, otherwise you can ignore it.

[2016-11-09 21:56] richardwhiuk commented on #45
Can you clarify what you mean here? What problem are you seeing?

[2016-11-09 21:58] richardwhiuk commented on #46
Can you provide the full Sprout log you see when this occurs?

[2016-11-09 22:01] richardwhiuk commented on #47
What error do you see? What logs does Sprout produce? The issue template which appears when you create an issue via GitHub prompts for these details.

Also, you may find the mailing list a more useful venue for support - issues are better suited when there is a concrete problem at hand.

[2016-11-10 12:12] richardwhiuk commented on #44
@graemerobertson correctly points out that Bono shouldn't be trying to connect to Chronos, so this is a bug.

[2016-11-14 09:31] plwhite opened #54 "Homestead does not work if SCTP not installed"
#### Symptoms

Homestead hangs on startup and does not function (hitting bug #49). Underlying cause appears to be that the node kernel does not have SCTP installed (and the OS does not have it available - this is a standard debian release on GKE which may not support SCTP).

Error message is as follows.

        10-11-2016 17:44:47.064 UTC Status diameterstack.cpp:573: Starting Diameter stack

[2016-11-14 15:42] plwhite commented on #54
Workaround - add the following line to the end of `clearwater/base/Dockerfile`:

[code]

Probably not the right fix, but seems to get past the issue.

[2016-11-17 13:15] MatMeredith commented on #44
Bono actually isn't trying to connect to Chronos.

All Sprout based processes create a "Chronos connection" object so that e.g. Sprout plugins can access this if they want to, but in the case of a Bono node this never gets used and no actual connection ever gets created.   We could not even create the connection object on a pure Bono node, but it's harmless and so I'm not convinced this change is

[2016-11-18 14:00] MatMeredith commented on #54
Fix for this (and explanation) is available here: https://github.com/Metaswitch/clearwater-infrastructure/pull/395   Not merged yet though as it needs testing.

[2016-11-18 17:58] eleanor-merry commented on #44
Yes, this is live with. Our current model is that the base sprout creates the various connection, alarm, SDM objects, and makes them available to whatever package wants to use them. At some point, we'll probably change this, but for now this is working as designed.

[2016-11-18 17:58] #44 closed, assigned to richardwhiuk

[2016-11-21 09:47] plwhite commented on #50
@richardwhiuk Interesting - I hadn't found that document, thanks.

How do I change the values in the configuration files in a Docker deployment? Is there a procedure, or do I just have to change values in all my images? I could in principle get access to each container and hack about with files in it, but that isn't very clean (when an instance restarts, the changes would be lost, for example, and

[2016-11-21 09:53] plwhite commented on #49
@richardwhiuk I would expect that if my deployment is DOA, and an individual component in it was broken, then I'd know. If the container died, then my orchestration could handle the issue by recreating it, and I'd be getting alarms. You can argue that supervisord is restarting the process and that's fine so far as it goes, but it seems that supervisord is giving up, perhaps after 5000 retries in a

[2016-11-21 15:26] plwhite opened #55 "Cassandra node failing"
My cassandra node appears to be failing, and repeatedly restarting. That in turn leads to other components failing. *I'm a little puzzled by this, because I think I once installed and did not see this, but it now consistently gets into this state each time.*

The cluster manager logs in `/var/log/clearwater-cluster-manager` end with something like the following:

    15-11-2016 16:15:55.063 UTC ER

[2016-11-21 15:30] plwhite commented on #51
Closed and replaced with https://github.com/Metaswitch/ellis/issues/195

[2016-11-21 15:30] #51 closed, assigned to plwhite

[2016-11-21 15:58] eleanor-merry commented on #55
The cluster manager logs are just log spam; they don't actually show a problem (https://github.com/Metaswitch/clearwater-etcd/issues/324).

What do the Cassandra logs say?

[2016-11-21 17:12] plwhite commented on #55
Cassandra is terminated repeatedly with return code 232, whatever that might mean. Lots of this.

    2016-11-21T17:11:06.203049344Z 2016-11-21 17:11:06,202 INFO exited: cassandra (exit status 232; not expected)
    2016-11-21T17:11:07.205551822Z 2016-11-21 17:11:07,205 INFO spawned: 'cassandra' with pid 7296
    2016-11-21T17:11:08.207248024Z 2016-11-21 17:11:08,207 INFO success: cassandra entere

[2016-11-21 17:14] eleanor-merry commented on #55
Mm. Is there a /etc/cassandra/cassandra.yaml file?

[2016-11-21 17:18] plwhite commented on #55
Well. I wonder if something is preventing setting of IP addresses somewhere?

    root@cassandra-2869798415-68885:/var/log/cassandra# cat /etc/cassandra/cassandra-topology.yaml
    # YAML topology configuration file for Cassandra,
    # to be used with YamlFileNetworkTopologySnitch.

    # The topology, as a list of data centers.
    topology:
        # Each data center has a name and a list of ra

[2016-11-21 17:23] eleanor-merry commented on #55
That looks OK I think; we only touch the cassandra.yaml and the /etc/cassandra/cassandra-rackdc.properties files. What do these look like?

[2016-11-21 17:25] plwhite commented on #55
Neither of them exist.

[2016-11-21 17:32] plwhite commented on #55
Looks like there is code to change those files in `/usr/share/clearwater/clearwater-cluster-manager/plugins/cassandra_plugin.py' that presumably is not being run. Not sure when it should be run, or what might be causing that to fail. I do see the following in the cluster manager logs.

    root@cassandra-2869798415-68885:/var/log/clearwater-cluster-manager# head -50 cluster-manager_20161121T150000

[2016-11-21 17:35] eleanor-merry commented on #55
Ok, what are the various nodes in your deployment? (10.0.2.8, 10.0.0.12, 10.0.1.14, 10.0.1.11)?

[2016-11-21 18:09] eleanor-merry commented on #55
(I ask because the first logs show the local IP being 10.0.1.14, with a single entry in the Cassandra cluster of 10.0.1.14. The second logs show the local IP being 10.0.1.11, with two other Cassandra nodes of 10.0.2.8 and 10.0.0.12)

[2016-11-22 09:02] plwhite commented on #55
Very odd. There was just a single node, 10.0.1.14. I don't know what those other two nodes are. It's quite possible that 10.0.2.8 is a virtual IP that resolves to the same node through a load balancer (which would be a misconfiguration). It's also not impossible that I have fouled up and mixed up logs from two instantiations. Easiest thing to do is for me to nuke and rebuild the deployment and see

[2016-11-22 10:00] plwhite commented on #55
I have a theory about this. I can repro all of the symptoms by starting the cassandra node without etcd running. That might well happen in production (etcd could come up after cassandra).

However, behaviour when etcd does come up is not consistent with what I say. On the original occasion, restarting etcd left the cluster manager broken, and so the Cassandra node never recovered. Today, everythin

[2016-11-22 12:02] plwhite commented on #55
I have now reproduced this again, in a way that seems not to let it recover. Cassandra failed and restarted. After doing so, ,y Cassandra container has IP address 10.0.0.11. However:

    root@cassandra-4023849174-vxcbo:/var/log/clearwater-cluster-manager# etcdctl -C http://etcd:4001 get /clearwater/node_type_cassandra/clustering/cassandra
    {"10.0.0.9": "joining, acknowledged change"}

That sug

[2016-11-22 12:48] eleanor-merry commented on #55
When your Cassandra node restarts, does it get a different IP address? If it does, then from the cluster managers POV it's an entirely different node, and it can't overwrite the existing value. You'll need to remove the old IP address before the cluster manager will continue (e.g. http://clearwater.readthedocs.io/en/latest/Handling_Failed_Nodes.html#removing-a-failed-node).

[2016-11-22 12:53] plwhite commented on #49
OK, so I have extended the Kubernetes orchestration to nuke Homestead if it fails and then restart it. Hence closing this.

[2016-11-22 12:53] #49 closed, assigned to plwhite

[2016-11-23 09:25] plwhite commented on #55
OK - thanks. I think that makes sense; sometimes when you recreate a pod you get the same IP, but there are no guarantees. I can work round that.

One last stupid question. Why do we have a cassandra image in the first place? Why don't we just deploy a standard off the shelf cassandra image? Is it purely that the first Cassandra to come up has to do some provisioning of data into the Cassandra dat

[2016-11-25 23:03] ldesi opened #56 "Failed requestes due to DSN record retrieve"
#### Symptoms

sprout.log
[code]

#### Impact

Some requests failed

#### Release and environment

Last clearwater-docker release

#### Steps to reproduce
For example by a sipp stress workload.

The problem happens because by default we use the docker embedded DSN service. Create an external DSN service can be a solution, but there is another solution/workaround?

[2016-12-01 09:38] plwhite commented on #55
I'm not sure this issue has any purpose any more - net is that the behaviour is a bit complex and I'm still a little confused, but having an issue doesn't really help with that and no good reason to think there is a bug. Closing.

[2016-12-01 09:38] #55 closed, assigned to eleanor-merry, plwhite

[2016-12-08 04:29] minhnv-viosoft opened #58 "issue with web interface register new user, and issue cqlsh in Cassandra node"
#### Symptoms

after of step :
-Build all the other Clearwater Docker images and start a deployment.
sudo docker-compose -f minimal-distributed.yaml up -d

the nodes are running
and I can go to web interface and register new user
but always get the error ( after click register and redirect to dashboard ) :

Failed to update the server ( see detailed diagnostics in developer console). Please refres

[2016-12-12 13:19] graemerobertson opened #59 "clearwater-live-test SUBSCRIBE timeout tests unreliable against Docker deployment"
We create a deployment by running the following commands...

[code]

We then sleep for 4 minutes and run the live tests against our new deployment. They all pass, except the `SUBSCRIBE - Subscription timeout` and `SUBSCRIBE - Registration timeout` tests which timeout "waiting for NOTIFY". It seems to be the expiry NOTIFY that we don't receive.

We run this regularly using Jenkins (the live-test-do

[2016-12-19 09:53] leader-us commented on #43
Thanks

[2016-12-19 10:06] #43 closed, assigned to leader-us

[2016-12-26 03:48] apachemycat opened #60 "Clearwater video call will be hang up after 30 secondes"
We try Clearwater  video call with X-lite, but we found  video call will be hang up after 30 secondes .
Is there any param to controll ?
Thanks .

[2017-01-16 16:21] dmoneil2 opened #63 "User configurable ports for X service - (mainly ETCD)"
#### Description
When deploying clearwater docker on kubernetes , we are using kubernetes services to decouple containers.
In this way the the kubernetes services provides enhanced decoupling of IPs as well as load balancing.

We have decoupled all of the services expect for ETCD.

#### Symptoms
We cannot create a service with port 4000,4001,2379,2378 (default etcd ports) as this conflicts with th

[2017-01-16 17:23] mirw commented on #63
Thanks for raising this!

Am I right in understanding that the issue is with the etcd service (rather than the other services' *use* of etcd)?

If so, the etcd service isn't actually built by Clearwater - we use an off-the-shelf container provided by CoreOS - are we saying that that is incompatible with Kubernetes?  Assuming so, do you know if there is a Kubernetes-compatible etcd service that we

[2017-01-17 09:27] dmoneil2 commented on #63
The problem as far as i can see,  is with clearwater python script use of the python-etcd.
It does not provide a user configurable port as far as i can see, so we are stuck using ETCD on the default port.
This is obviously a problem if you are running more than one etcd instance, on different ports
Clearwater does not account for this.

[2017-01-17 10:45] mirw commented on #63
Thanks!  So just to be clear, the issue isn't that we need to be able to create an etcd service with configurable ports, but that we need to be able to configure the ports that the users of the etcd service point to?

So if we add a configuration option to change the hard-coded port 2380 in clearwater-etcd, that would solve the problem?

[2017-01-27 09:58] mirw commented on #63
Assigning just to be clear on the next action - confirm the question above.

[2017-01-30 12:01] dmoneil2 commented on #63
Premise:
All client and server ports should be configurable.
You can see all of these problems, by deploying 2 copies of IMS on the same system.

Example:
I'm giving ETCD as the first major problem (more may come after fixing this).
You cannot currently deploy multiple etcd instances.  ETCD uses 2379,2380, 4000,4001.  For internal/external connectivity and http/https connections.

In our use case

[2017-01-30 13:37] dmoneil2 opened #64 "Undocumented ZONE variable"
Undocumented $ZONE variable in /etc/init.d/clearwater-auto-config-docker

Action is to update the documentation relevant to this variable.

[2017-01-30 13:39] dmoneil2 opened #65 "Unable to use IP abstraction in front of Bono"
Problem:
Unable to use IP abstraction in front of Bono

Many cloud deployment tools such as kubernetes, openstack mesos, etc  employ the concept of floating IPs or "IP Abstraction", possibly with NAT and then forward the incoming packets to the required destination.

This does not work with BONO and the user is forced to use a external IP of a physical machine (PUBLIC_IP) for the deployment.
This

[2017-01-30 13:41] dmoneil2 opened #66 "Containers, Not Virtual Machines (bloated container images)"
There are numerous sources identifying the benefits of containers.  In a standard rack you can save upwards of $50000 on memory alone due to the reduced footprint of containers and better "binpacking"

These advantages have been reduced by the current image employed by clearwater.

The images also resists scaling in a typical "micro"service architecture.  An orchestration engine such as kubernetes

[2017-01-30 14:16] derekoco commented on #66
The use of supervisord in a container image is an example of heavily coupled services within container images.

[2017-01-30 14:48] mirw commented on #66
@dmoneil2, thanks for raising.  (I edited your comment to use triple-backticks to avoid the dpkg log from being parsed as markdown.)

@derekoco, I think Cassandra and memcached are in separate containers from Ralf and Homestead, and should be independently scalable.  Did I misunderstand your point?  (I agree on supervisord.)

[2017-01-30 14:51] mirw commented on #65
@dmoneil2, thanks for raising this.  Are you able to share a SIP flow (and where it goes wrong), so that we can see which SIP header it is that is at fault?

[2017-02-02 12:50] dmoneil2 commented on #65
Somewhat crude drawing of the network @mirw.
Hope this helps.

note, when changing the public IP to the private address of the k8s service (iptables gateway)  also break ellis.

Not sure what else breaks when changing the PUBLIC_IP to private gateway

BONO LOG: [capture4.txt](https://github.com/Metaswitch/clearwater-docker/files/747720/capture4.txt)

![capture](https://cloud.githubusercontent.com/

[2017-02-02 13:43] dmoneil2 commented on #65
![jitsi](https://cloud.githubusercontent.com/assets/424806/22551655/8a13b70e-e94d-11e6-8ef8-a2bd343308cb.PNG)

[2017-02-07 12:35] plwhite commented on #63
When running Clearwater in Kubernetes, we've just left the ports as the default, and then the various clearwater components can access the service on those ports on the Kubernetes network using the hostname of the service (i.e. `http://etcd:4001`). It sounds like you might have a requirement to use the host network rather than a service? Or is the issue that you need the etcd cluster to be an exte

[2017-02-07 13:09] dmoneil2 commented on #63
Hey Peter,

thanks for your feedback, I really appreciate it.
I am going to challenge you on a few points and hopefully you can make me aware of your deployment decisions and where I'm mis-understanding/wrong.

Premise: It is conceivable that a customer may want to run multiple copies of IMS.  such as Testing, pre-production, production, or even multiple deployments for individual domains.

In you

[2017-02-07 17:13] plwhite commented on #63
I'm using the DNS provided by Kubernetes, with a flannel network. I'm actually testing a DR scenario with two Clearwater deployments, which works by each deployment being in its own namespace (and optionally being in its own K8s cluster). That means that each can resolve "etcd" to be the etcd cluster in the same namespace, i.e. the local etcd cluster, but management tools can resolve instances in

[2017-02-08 07:22] mirw commented on #63
@plwhite, thanks for your comments!

@dmoneil2, does that give you what you need?  I can add configurable etcd ports if needed, but if the standard Kubernetes way doesn't require it, it keeps things simpler not to.  Please let me know!

[2017-02-09 10:58] mirw commented on #63
@dmoneil2, please can you let me know whether you still need this fixed, or whether the approach @plwhite outlines above solves your problem?  (I think we're both keen to get this closed down before tomorrow.)

[2017-02-09 11:49] dmoneil2 commented on #63
Sorry guys,
I don't think you understand our deployment model correctly.
Currently we cannot decouple etcd instances via kubernetes services,  as ports described above conflict with the etcd instance running on the infrastructure.
This is a hard stop if we continue in this direction of using kubernetes services to decouple the containers (vision of kubernetes deployment approach)

https://kubernet

[2017-02-09 15:00] plwhite commented on #63
I'm a bit lost, so let me dig a bit deeper into your setup.

Let's say that your K8s node has IP 192.168.0.123. Then etcd instance for the infrastructure is listening on port 2379 (etc.) on IP 192.168.0.123.

Now you create an etcd pod with etcd running in a container, and that pod gets IP 10.1.2.3 (say). That etcd container is listening on port 2379 on IP 10.1.2.3. The IP 10.1.2.3 might or might

[2017-02-16 14:16] mirw commented on #65
Thanks for sharing this.  It looks like Bono is record-routing itself with IP address 10.254.207.54.  It presumably should be record-routing itself with 192.168.96.6.  For the topology you're proposing, this should be set via the `public_hostname` option in `/etc/clearwater/shared_config`.  Please can you check what this is set to?

I suspect by default it will be set to the same as local_ip, whic

[2017-02-16 14:16] mirw commented on #65
@dmoneil2, please can you check the `public_hostname` option/`PUBLIC_IP` environment variable and let me know how you get on?

[2017-02-23 11:31] dmzoneill commented on #63
issue has resolved itself, please close bug

[2017-02-23 14:22] mirw commented on #63
Thanks!  Is there anything we should be adding to our docs in case others hit this in future?

[2017-03-24 13:30] eleanor-merry commented on #27
Closing as answered.

[2017-03-24 13:30] #27 closed, assigned to heekof

[2017-03-24 13:42] #38 closed, assigned to nobody

[2017-03-24 13:43] eleanor-merry commented on #42
Closing as answered.

[2017-03-24 13:43] #42 closed, assigned to leader-us

[2017-03-24 13:44] eleanor-merry commented on #47
Closing as unreproducible.

[2017-03-24 13:44] #47 closed, assigned to leader-us

[2017-03-24 13:45] eleanor-merry commented on #46
Closing as unreproducible.

[2017-03-24 13:45] #46 closed, assigned to leader-us

[2017-03-24 13:45] eleanor-merry commented on #45
Closing as unreproducible.

[2017-03-24 13:45] #45 closed, assigned to leader-us

[2017-03-24 18:10] eleanor-merry commented on #3
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/2

[2017-03-24 18:10] eleanor-merry commented on #5
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/3

[2017-03-24 18:10] eleanor-merry commented on #6
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/4

[2017-03-24 18:10] eleanor-merry commented on #7
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/5

[2017-03-24 18:11] eleanor-merry commented on #8
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/6

[2017-03-24 18:11] eleanor-merry commented on #28
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/7

[2017-03-24 18:11] eleanor-merry commented on #36
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/8

[2017-03-24 18:11] eleanor-merry commented on #40
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/9

[2017-03-24 18:11] eleanor-merry commented on #41
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/10

[2017-03-24 18:11] eleanor-merry commented on #50
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/11

[2017-03-24 18:11] eleanor-merry commented on #54
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/12

[2017-03-24 18:11] eleanor-merry commented on #56
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/13

[2017-03-24 18:11] eleanor-merry commented on #58
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/14

[2017-03-24 18:11] eleanor-merry commented on #60
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/15

[2017-03-24 18:11] eleanor-merry commented on #63
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/16

[2017-03-24 18:11] eleanor-merry commented on #64
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/17

[2017-03-24 18:11] eleanor-merry commented on #65
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/18

[2017-03-24 18:11] eleanor-merry commented on #66
Ported to https://github.com/Metaswitch/project-clearwater-issues/issues/1

[2017-08-09 15:06] chbndrhnns opened #71 "Building ellis fails due to mysql error"
#### Symptoms
Building `ellis` fails with

[code]

#### Impact
`docker-compose` cannot be used to create deployment.

#### Release and environment
Docker 17.0.3.1 on Mac OS X 10.12.6

#### Steps to reproduce
Follow steps on homepage:
- git clone --recursive git@github.com:Metaswitch/clearwater-docker.git
- sudo docker build -t clearwater/base base
- sudo docker-compose -f minimal-distributed.yaml

[2017-08-11 08:38] derekoco commented on #71
This same error is also impacting the Kubernetes build
[code]
Any logs I can get you please let me know.

[2017-08-15 14:53] derekoco commented on #71
@MatMeredith @plwhite Have you had the time to investigate this build error yet?

[2017-08-15 16:17] plwhite commented on #71
I can't repro this, having done a clean build today.

Does it repro if you rebuild `clearwater/base` with `--no-cache`? In the past I've seen weird behaviour because apt-get was confused because the last update was far in the past.

[2017-08-17 09:39] chbndrhnns commented on #71
I first pulled the latest version. With `--no-cache`, the base image gets build and `docker compose up` fails with

[code]

[2017-08-24 21:21] AakashKT opened #73 "Error loading yaml files in python"
#### Symptoms

yaml.constructor.ConstructorError: while constructing a mapping
  in "clearwater-docker/kubernetes/bono-depl.yaml", line 33, column 18
found unacceptable key (unhashable type: 'dict')
  in "clearwater-docker/kubernetes/bono-depl.yaml", line 33, column 19

#### Impact

This makes automation using python harder, since yaml files give error on loading.

#### Release and environment

On

[2017-08-29 09:39] chbndrhnns commented on #71
This happened due to not changing `stable` to `latest` for the repo.

[2017-08-29 09:39] #71 closed, assigned to nobody

[2017-08-30 19:26] AakashKT commented on #73
Hi, any update on this?

[2017-09-04 16:18] derekoco commented on #71
Ellis is still failing to build....
[code]
@chbndrhnns Can you elaberate more as to what you have done to resolve this build error please?

[2017-09-05 08:23] derekoco opened #74 "Error Building Ellis - Starting MySQL database server mysqld ...fail!"
@plwhite @MatMeredith

#### Symptoms
The ellis container image fails to build with mysql error "Starting MySQL database server mysqld ...fail!"

#### Impact
Unable to build and deploy clearwater-docker

#### Release and environment
- `$ git clone https://github.com/Metaswitch/clearwater-docker.git`
- `$ git branch = master`

#### Steps to reproduce
1. `git clone https://github.com/Metaswitch/clear

[2017-09-05 14:12] chbndrhnns commented on #71
I happened to use the stable repository and after following the README it worked:

[code]

Then build the base image, then run `docker-compose`.

This at least brings up the system fine here.

[2017-09-07 15:53] derekoco commented on #71
Thanks for the feedback very appreciated

[2017-09-07 15:54] derekoco commented on #74
Building from Master or Stable branches results in the exact same behaviour

[2017-09-07 16:30] derekoco commented on #74
There is clearly some requirement that ellis must have access to the containers local mysql server while intsalling, can you confim?

[code]
Is this down to how you are attempting to start the mysql server in the Dockerfile?

`RUN /etc/init.d/mysql start`

Once this RUN command completes the deamon will stop again will it not?

[2017-09-11 13:18] plwhite commented on #74
I am just baffled by this. I cleaned out my containers, deleted the images, and ran exactly the commands you specified. It all worked perfectly for me.

I assume that ellis needs to use the mysql server, though don't know. One for Clearwater support (I'll ask them directly to get involved).

My gut feel is that this is a side effect of the version of Docker or OS you are using. I'll try again on W

[2017-09-12 11:06] plwhite commented on #74
Windows builds don't work for other reasons - we don't support them.

However, I have now tried on a few different servers and all worked. The one exception is that I found a box that was failing (with a different error, but maybe related) because one of the base images was corrupted. I fixed that by deleting the `ubuntu:14.04` image and then rerunning. Worth trying that.

My questions.

- Does th

[2017-09-17 14:38] fbuechsel commented on #74
Experienced the exact same issue on when building on Photon OS, interestingly enough when I run the container in an interactive session and try to start mysqld everything works perfectly fine.

I just installed an Ubuntu 16.04 which seems to build the images all fine, so I am guessing the Photon OS is missing something or as mentioned before some kernel or docker version variation might be causing

[2017-10-19 09:17] fogongzi opened #80 "Failed to open '/etc/clearwater/cluster_settings'"
#### Symptoms

When I deploy the clearwater on kubernetes, the astaire pod gives the error logs:
tail: /var/log/astaire/astaire_current.txt has appeared; following end of new file
19-10-2017 08:54:46.131 UTC Status utils.cpp:686: Log level set to 2
19-10-2017 08:54:46.132 UTC Status main.cpp:251: Astaire starting up
19-10-2017 08:54:46.133 UTC Error memcached_config.cpp:108: Failed to open '/etc/c

[2017-10-20 02:46] fogongzi opened #81 "cassandra start failed"
@eleanor-merry  @MatMeredith

When I deploy cassandra deployment, it gives the error as follows:
[code]
Then the pod logs are as follow:
[code]
At the same time there is no  file : /etc/cassandra/cassandra.yaml
#### Symptoms

So how can I solve the problem, thanks!

#### Impact

The kubernetes gives the following error:
Readiness probe failed: Reporting config ADDRESS=192.168.9.16 PORTS=7000 9042

[2017-10-25 13:23] johadalin commented on #81
Hi there @fogongzi .
I've had a bit of a look at this issue, and at https://github.com/Metaswitch/clearwater-docker/issues/80. I think the two are likely symptoms of the same underlying error, and i think it's probably that you've got an issue with your etcd pods. Just a heads up: we have a mailinglist for Project Clearwater where you can reach out to the whole community. You may see a quicker res

[2017-10-27 00:36] fogongzi commented on #81
@johadalin , thank you very much for your reply.
The /var/log/clearwater-cluster-manager/cluster-manager.output.log gives no logs. The /var/log/clearwater-cluster-manager/cluster-manager_20171027T080000Z.txt gives logs as follows:
[code]

At the same time the etcd service seems to be good and the logs are as follows:
[code]
So what is the problem, I am stucked for few days and can't go on. Thank y

[2017-10-31 13:45] johadalin commented on #81
@fogongzi
Is that the end of the cluster manager log?
Can you give us a bit more detail on how you're deploying this, and what version of Kubernetes you're deploying on?
Have you made any modifications to the deployment files at all?

I've tried a number of things on my side, and can't get these symptoms to replicate. It might be worth trying a fresh re-deploy, making sure you're using the latest

[2017-10-31 13:47] johadalin commented on #81
If you attach as much in the way of logs and diagnostics as you can, we should hopefully get to the bottom of it as soon as possible

[2017-11-01 01:53] fogongzi commented on #81
@johadalin ,yes, It is the end of the cluster log. My environment is as follows:
kubernetes: 1.8.0
os: Ubuntu 17.04
Docker: 17.05.0-ce
clearwater-docker: clearwater-docker-release-128

All the deployment and service are located in namespace: clearwater.
Firstly I create configmap:
kubectl create configmap env-vars --from-literal=ZONE=clearwater.svc.cluster.local -n clearwater

Then the astaire-dep

[2017-11-02 10:31] johadalin commented on #81
@fogongzi thanks for providing all that information. Everything looks mostly as i expect it to. I don't believe the errors during the image build are an issue; we should re-vamp the install process to be more container friendly, but i have seen similar and my images are working when deployed.
The only significant difference i can see to what i've run is that you're running Kubernetes 1.80, where m

[2017-11-03 08:37] fogongzi commented on #81
@johadalin thank you for your reply. I change the number of replicas for astaire and cassandra down to 1 and the cassandra gives the following error logs:

cassandra pod gives error logs: Readiness probe failed: Reporting config ADDRESS=192.168.9.43 PORTS=7000 9042 9160 TIMEOUT=5 Testing port 7000

The cassandra's real error logs are as follows (the error logs seems to generate periodically):

[co

[2017-11-03 10:36] johadalin commented on #81
I've had another look over all the diags you've provided, and think i have seen something new regarding the first issue you saw. (I've also added markdown backticks \` around the code/log sections so that it's a bit clearer. Github was parsing the # comments in your depl files as heading tags)

First though, I think the current issue you're seeing with cassandra is down to an issue we've seen with

[2017-11-03 10:37] johadalin commented on #81
@fogongzi Hopefully this can resolve your issues and get you up and running :smiley:

[2017-11-06 02:11] fogongzi commented on #81
@johadalin thank you very much for your reply. The cassandra pod ifconfig command gives  :
eth0      Link encap:Ethernet  HWaddr 0a:58:c0:a8:09:2b
          inet addr:192.168.9.43  Bcast:0.0.0.0  Mask:255.255.255.0
          UP BROADCAST RUNNING MULTICAST  MTU:1450  Metric:1
          RX packets:52833 errors:0 dropped:0 overruns:0 frame:0
          TX packets:69152 errors:0 dropped:0 overruns:0 ca

[2017-11-06 13:15] johadalin commented on #81
It looks like your pod is still not getting any ipv6 configuration.
You said that the output of `ifconfig` looked the same as mine, but there's one crucial part missing, which is the ipv6 addresses.
You'll note that the `ifconfig` output from my cassandra pod contained the following line for eth0:
`          inet addr:10.230.17.236  Bcast:0.0.0.0  Mask:255.255.255.0`
and for the lo inteface:
`

[2017-11-09 02:02] fogongzi commented on #81
@johadalin ,thank you very much for your reply. I can make sure I net.ipv6.conf.all.disable_ipv6=0, and the arbitrarily worker nodes command "sysctl -a | grep "net.ipv6.conf.all" gives:
sysctl: reading key "net.ipv6.conf.all.stable_secret"
net.ipv6.conf.all.accept_dad = 1
net.ipv6.conf.all.accept_ra = 1
net.ipv6.conf.all.accept_ra_defrtr = 1
net.ipv6.conf.all.accept_ra_from_local = 0
net.ipv6.conf

[2017-11-09 15:17] muhammad-i-imran commented on #74
I was facing the same issue on Ubuntu 16.04 kernel version 4.4. Mysql wasn't starting at all. After updating the kernel version to 4.10, the issue doesn't appear very frequently, but still not completely resolved.
Update:
I also tested it with the ubuntu 14LTS kernel version 3.13.0-100. It is not working at all.

[2017-11-10 13:46] blsaws commented on #74
I am having the same error. Please let me know if there is some workaround. In OPNFV we have been steady users of Clearwater and are trying to get this docker version running under k8s. Any help on this blocking issue is appreciated.

$ lsb_release -a
No LSB modules are available.
Distributor ID:        Ubuntu
Description:        Ubuntu 16.04.2 LTS
Release:        16.04
Codename:        xenial

$

[2017-11-20 10:06] muhammad-i-imran commented on #74
@plwhite
1- this issue happens even if I force it to download the new base ubuntu image.
2- Yes, this happens on multiple hosts
3- Used ubuntu 16.04 LTS to build the image

[2017-11-20 12:07] johadalin commented on #81
Hi @fogongzi , sorry for the delay.
The problem is down to how we're currently setting up our listen addresses in the cassandra yaml, i believe. The line in question i think is https://github.com/Metaswitch/clearwater-cassandra/blob/master/clearwater-cassandra/usr/share/clearwater/cassandra/cassandra.yaml.template#L444 , where we're setting it to `::0`. In the past, we used to have this as just `0

[2017-12-18 18:12] mi-1-0-0 commented on #74
placing `VOLUME /var/lib/mysql`  after `RUN apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y --force-yes mysql-server` resolved the problem so far.

[2017-12-22 10:49] eduardocalfaia commented on #74
Hi Guys,
I have the problems with mysql:
ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (111)
dpkg: error processing package ellis (--configure):
 subprocess installed post-installation script returned error exit status 1

[2017-12-22 20:42] eduardocalfaia commented on #74
Hi guys,
I've changed the Ellis' Dockerfile to this:
RUN apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y --force-yes mysql-server && find /var/lib/mysql -type f -exec touch {} \; && service mysql start
RUN find /var/lib/mysql -type f -exec touch {} \; && service mysql start && apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y --force-yes ellis && /usr/sbin/dns

[2017-12-29 10:37] muhammad-i-imran opened #83 "'clearwater-auto-config-docker' Service Stores Ingress Network IP in local_config in Swarm Mode"
#### Symptoms
When deploying clearwater images in docker swarm, the `local_config` file is updated by `clearwater-auto-config-docker` service (by the following code: `ip=$(hostname -I | sed -e 's/\(^\|^[0-9A-Fa-f: ]* \)\([0-9.][0-9.]*\)\( .*$\|$\)/\2/g' -e 's/\(^\)\(^[0-9A-Fa-f:]*\)\( .*$\|$\)/\2/g')`) with ingress network IPs instead of overlay network  IP because of the position of the IP after

[2018-01-05 15:21] sebrexmetaswitch commented on #74
Should be resolved by #84

[2018-01-05 15:21] #74 closed, assigned to nobody

[2018-01-27 01:42] TaiSHiNet commented on #65
Did you manage to get it working? While trying to test this within a local k8s cluster, NodePort can't be assigned to ports under 30000

[2018-01-29 17:39] blsaws opened #86 "Issues with homestead and homestead-prov under Kubernetes"
Hi, I wanted to first float these issues on the clearwater list but am getting no response to list subscription requests. So reaching out here for help. I'm working on deploying clearwater-docker under Kubernetes for use in the OPNFV [Models](https://wiki.opnfv.org/display/models/Models+Home) and [VES](https://wiki.opnfv.org/display/ves/VES+Home) projects. I'm having issues with homestead and home

[2018-01-29 19:34] richardwhiuk commented on #86
@blsaws

Yep - it'd be useful if you could provide your build logs. On our internal k8s cluster, we get the following when we run the homestead container:

[code]

Note, it might be useful to do a clean build of the Docker images, without the cache to ensure you've got a consistent set of packages. We normally build with the following command:

`for i in base astaire cassandra chronos bono ellis h

[2018-01-29 21:59] blsaws commented on #86
I also use --no-cache if I think there's a potential issue.
Here is the build log for the homestead container using the stable branch. It's followed by the log built using master:
[code]

[2018-01-29 23:08] richardwhiuk commented on #86
@blsaws Do you have the build log for the base container as well?

[2018-01-30 15:04] blsaws commented on #86
Here is the base build log
[code]

[2018-01-31 03:05] blsaws commented on #86
I found out that I had a bug in my script that created the containers, and I was tagging the wrong container. I fixed it, and all is working. Closing this bug. Apologies for the noise! I'll take further issues to the list first.

[2018-01-31 03:05] #86 closed, assigned to blsaws

[2018-02-15 13:19] MatMeredith commented on #83
Hi Muhammad,

Thanks for raising this issue.   Deploying on docker swarm hasn't been a priority for us, with us instead focussing on Kubernetes as our platform of choice for deploying across multiple nodes (see the README).    It's great to hear that you are using it though and having some success!

If swarm support is important to you and you'd like to submit a Pull Request that would be great.

[2018-03-06 11:57] chunchill opened #87 "How to run official Stress Testing for the Clearwater-docker deployment"
#### Symptoms

when running the [stress testing tool](http://clearwater.readthedocs.io/en/stable/Clearwater_stress_testing.html) on the clearwater-docker deployment environment which is installed on a host server, runing into the following failures in the log file.

_2018-03-06      11:21:09.365930 1520335269.365930: Call-Id: 1-234@172.18.0.3, receive timeout on message Clearwater registration:1 w

[2018-03-13 17:24] BennettAllen1 commented on #87
Hi,
We use https://github.com/Metaswitch/clearwater-infrastructure/blob/master/debian/clearwater-auto-config-docker.init.d#L51 to help set up our code and this sets the home_domain as “example.com” if you don’t specify one. So I suggest trying command 4 with that.
If that doesn’t work, you can follow the SIP message through the logs in bono and sprout to try and see if the clearwater nodes is rece

[2018-05-10 00:44] mdavis-xyz commented on #86
I'm having the same issue. What was the bug you had in your scripts?

I've tried rebuilding with `--no-cache` and that didn't fix it.

[2018-05-15 07:54] mdavis-xyz opened #90 "dns.json missing in homestead and homestead-prov"
#### Symptoms

When I spin up a kubernetes deployment, `homestead` and `homestead-prov` fail to come up properly.

`kubectl get pods`

[code]

`kubectl logs homestead-568c574587-d8h8r  homestead`

[code]

When I `docker exec` into the container (hard to do because it keeps being restarted by k8s) and look in `/var/log/homestead/homestead_current.txt`, I see:

[code]

I think the crucial error mess

[2018-05-15 08:02] mdavis-xyz commented on #90
I checked `/etc/clearwater/dns.json` on an all-in-one installation. The file exists, the contents is just:

[code]

[2018-05-16 17:44] johadalin commented on #90
This conversation is ongoing in parallel on our mailing list, so i won't duplicate all that here. Latest update is at http://lists.projectclearwater.org/mailman/private/clearwater_lists.projectclearwater.org/2018-May/003948.html

I think there are a fair few red-herrings in all of this. The dns.json not being present is currently just a benign artifact of how our processes run in containers. As in

[2018-07-03 23:54] mdavis-xyz opened #92 "Can't edit or update yaml sometimes"
# Symptoms

Sometimes when I try to change the number of replicas (either with `kubectl apply -f ./` or `kubectl edit deployment bono`) I get an error:

[code]

# Impact
I have to delete the deployment, then recreate it with the new number of recplicas

# Release and environment
Using PR #88

# Steps to reproduce

1. Deploy CW, no secret for registry authentication

          imagePullSecrets:

[2019-02-15 07:31] iwaseyusuke commented on #81
@johadalin Excuse me for jumping in.

I haven't tested enough yet though, this workaround works fine for me.
Do you have any plan to add this command to `cassandra/Dockerfile` on this repository?

[2019-04-25 07:16] moghadas76 commented on #60
lol

[2019-06-20 08:41] AlessioDiama commented on #86
Me too i'm having the same issue. How did you solved it?

[2019-07-23 15:41] AlessioDiama opened #97 "Build base image fails"
#### Symptoms
I know that it maybe the same issue of  #35 but actually i am not able to solve it. I am trying to build docker images for clearwater but build fails since the base image:

Step 19/29 : RUN apt-get install -y --force-yes clearwater-snmpd
 ---> Running in 95b579d4ebb7
Reading package lists...
Building dependency tree...
Reading state information...
The following extra packages will be

[2019-11-14 14:44] yemenlinux opened #98 "Repository is not working"
#### Symptoms

During building base image the repository is not working with  this message:

clearwater-docker$ **docker build -t clearwater/base base**

....
Step 17/29 : RUN curl -L http://repo.cw-ngv.com/repo_key | apt-key add -
 ---> Running in 6891cad6f79c
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   S

[2019-11-15 10:13] matt-williams commented on #98
See the announcement at https://www.projectclearwater.org/.